<div ng-cloak>
    <h1 class="text-center">Share your projects with the community!</h1>
    <br />
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h3 class="panel-title">Our statistics:</h3>
        </div>
        <div class="panel-body">
            <div class="row text-center">
                <div class="col-md-4 text-center">Users: {{vm.stats.Users}}</div>
                <div class="col-md-4 text-center">Projects: {{vm.stats.Projects}}</div>
                <div class="col-md-4 text-center">Commits: {{vm.stats.Commits}}</div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div projects></div>
        </div>
        <div class="col-md-6">
            <div commits></div>
        </div>
    </div>
</div>
